/* https://coolors.co/palette/d9ffee-a5ffd6-84dcc6-ff686b-ffa69e-ffddd9 */

body {
  text-align: center;
  background-color: #84DCC6;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#message {
  margin: 40px 0 40px 0;
  font-size: 50px;
  color: white;
  font-family: 'Lobster', cursive;
}

header img{
  margin: 100px 20px 0;
  padding-bottom: 5px;
  width: 96px;
  border-bottom: 15px solid #84DCC6;
}

section.board {
  margin: 0 auto;
  border: 4px dotted white;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(3, 12vmin);
  grid-template-columns: repeat(3, 12vmin);
  grid-gap: 0.5vmin;
}

div {
  background-color: white;
  /* Can't see the border unless hovering. */
  /* If the border is only in the hover, the contained image will shift a little, */
  /* putting border here prevents that. */
  border: 4px solid white;
  font-size: 8vmin;
}

span {
  color: #ff686b;
}

div:hover {
  background-color: #84DCC6;
}

.token {
  vertical-align: middle;
  width: 64px;
}

.turn {
  border-radius: 20%;
  border-bottom: 15px solid #ff686b;
}